body {
    background: linear-gradient(90deg, rgba(182,205,213,1) 36%, rgba(140,196,224,1) 85%);
    font-family: 'Montserrat', serif;
}

noscript {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}