body {
    margin: 0;
    padding: 0;
}

#loading-row {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    font-size: 22px;
}

#left, #dots {
    flex: 1;
}

#dots:after {
    content: '';
    animation-name: ellipsis;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes ellipsis {
    0% {content: '';}
    25% {content: '.';}
    50% {content: '..';}
    75% {content: '...';}
    100% {content: '';}
}

#main-card {
    background: lightgrey;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    display: flex;
}

.box {
    margin: 10px 50px 10px 50px;
}

#box-right {
    text-align: right;
}

span {
    transition: color 0.5s;
}

span:hover {
    color: rgba(99, 138, 182, 0.8);
    cursor: pointer;
}

#row {
    display: flex;
    flex-direction: row;
    max-width: 75%;
    margin: auto;
    overflow: auto;
    gap: 43px;
    padding: 50px;
}

#row #weather-card {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

#row #weather-card:first-child {
    margin-left: auto;
}

#row #weather-card:last-child {
    margin-right: auto;
}

#footer {
    padding-top: 10px;
	text-align: center;
}
